.todo-container {
  display: flex;
  align-items: center;
}
.task-completed {
  text-decoration: line-through;
}
.custom-button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  color: #ff0b37;
  border: 1px solid #ff0b37;
  outline: none;
}
.save-button {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid green;
  color: green;
  outline: none;
}
.edit-button {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid blue;
  color: blue;
  outline: none;
}
.title-input {
  width: 50%;
  font-size: 16px;
  margin-left: 10px;
}
.button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.checkbox {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 992px) {
  .checkbox {
    width: 20px;
    height: 20px;
  }
  .title-input {
    font-size: 20px;
  }
  .custom-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
  }
}
